@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    background: #dee3ed;
}

*, html {
    --primary-theme-items: rgb(0,87,255);
    --secondary-theme-items:rgb(196,224,253); 
}
